.wrapper {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.header {
    position: absolute;
    top: 10px; /* Alinhamento no topo */
    right: 10px; /* Alinhamento à direita */
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.buttonLogout {
    background: linear-gradient(135deg, #ff6868, #faa0a0);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.iconExcluir {
    margin-right: 5px;
}

.container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toList {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 10vh;
}

.buttonList, .buttonLogar {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #5ff2ff, #27727d);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    height: 20vh;
}

.buttonLogar:disabled {
    background: linear-gradient(135deg, #606161, #070707);
    color: white;
    cursor: not-allowed;
}

.iconList {
    margin-right: 10px;
    width: 30%;
}

.link {
    text-decoration: none;
}

.titulo {
    font-size: 30px;
    font-family: cursive;
}
